/* ---------- GLOBAL ---------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
}

body {
    width: 60%;
    margin: auto;
    background-image: url(images/BG.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.pink {
    color: #D1848D
}

h1 {
    font-size: 40px;
    font-weight: 400;
    color: #17191a;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    color: #17191a;
}

h3 {
    font-size: 18px;
}


h5 {
    font-size: 20px;
    color: #17191a;
}

p {
    color: #8F9EA5;
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

/* ---------- NAVIGATION ---------- */
.nav {
    display: flex;
    align-items: center;
    height: 100px;
}

.contactMe, .navIcons {
    flex: 1;
}

.navIcons {
    text-align: right;
}

.navIcons a, .contactMe a, .contactMe img {
    display: inline-block;
    vertical-align: middle;
}

.navIcons a {
    margin-left: 40px;
}

.contactMe a {
    color: #D1848D;
    text-decoration: none;
}

.contactMe img {
    margin-right: 10px;
}

/* ---------- LANDING ---------- */
.landing {
    height: 100vh;
    position: relative;
}

.landingWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}

.landingL {
    margin-top: 4em;
}

.scroll {
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

/* ---------- SKILLS ---------- */
.skills {
    text-align: center;
    margin-bottom: 20em;
}

.skills p {
    margin-bottom: 30px;
}

/* ---------- PROJECT 1 ---------- */
.work {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

.work > .workText {
    position: absolute;
    top: 250px;
}

.work > .workText > .underline {
    display: block;
    background-color: #D1848D;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.work > .workImg {
    width: 95%;
    float: right;
}

.work ul{
    position: absolute;
    bottom: 0;
    right: 86%;
}

.work ul li {
    margin-top: 20px;
}

/* ---------- PROJECT 2 ---------- */
.work2 {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

.work2 > .workText {
    position: absolute;
    top: 250px;
    right: 0;
    text-align: right;
}

.work2 > .workText > .underline {
    display: block;
    background-color: #D1848D;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}

.work2 > .workImg {
    width: 95%;
    float: left;
}

.work2 ul{
    position: absolute;
    bottom: 0;
    left: 85%;
}

.work2 ul li {
    margin-top: 20px;
}

/* ---------- PROJECT 1 & 2 ---------- */
.work a, .work2 a {
    text-decoration: none;
    color: #17191a;
}

/* ---------- FOOTER ---------- */
.footer {
    margin-bottom: 100px;
}

.footer h3 {
    text-align: center;
}

.footerUnderline {
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto 0 auto;
    background-color: #D1848D;
}
























